.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies-item {
  width: 280px;
  margin: 5px;
  /* border: 1px solid black; */
}

.movies-title {
  height: 65px;
}

.movies-image {
  height: 400px;
}